@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.submissions-view {
  @include flex-column;
  width: 100%;
  height: 100%;

  &__track {
    @include flex-column;

    &-title {
      @include truncate;
      font-weight: $font-weight-medium;
      color: var(--color-text);
    }

    &-artist {
      @include truncate;
      font-size: $font-size-xs;
      color: var(--color-text-secondary);
    }
  }

  &__round {
    @include truncate;
  }

  &__points-total {
    font-weight: $font-weight-bold;
  }

  &__points-val--pos {
    font-size: $font-size-xs;
    color: var(--color-success);
  }

  &__points-val--neg {
    font-size: $font-size-xs;
    color: var(--color-error);
  }

  &__comment {
    font-size: $font-size-xs;
    color: var(--color-text-secondary);
    font-style: italic;
    @include truncate;
  }
}
